<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о номере телефона</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
    <h1>Информация о номере телефона: +7{{ number }}</h1>
    {% if phone_number_info %}
        {% if phone_number_info is string %}
            <p>{{ phone_number_info }}</p>
        {% else %}
            <div class="info">
                <span>Регион:</span> {{ phone_number_info.get('region', 'Ошибка ввода номера. Попробуйте ещё раз') }}
            </div>
            <div class="info">
                <span>Оператор:</span> {{ phone_number_info.get('op', 'Ошибка ввода номера. Попробуйте ещё раз') }}
            </div>
        {% endif %}
    {% else %}
        <p>Информация о номере не найдена.</p>
    {% endif %}
    <form action="{{ url_for('index') }}" method="get">
    <button type="submit" class="button">Вернуться на главную страницу</button>
</form>
</body>
</html>