<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о номерах телефона</title>
</head>
<body>
    <h1>Информация о номерах телефона:</h1>
    <table>
        <thead>
            <tr>
                <th>Номер</th>
                <th>Регион</th>
                <th>Оператор</th>
            </tr>
        </thead>
        <tbody>
            {% for el in numbers %}
                <tr>
                    <td>+7{{ el.get('number') }}</td>
                    <td>{{ el.get('region') }}</td>
                    <td>{{ el.get('op') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="/save_table" method="post">
        <input type="hidden" name="data" value="{{ numbers }}">
        <button type="submit">Cохранить таблицу</button>
    </form>

</body>
</html>